:root {
  --first: url("images/5.png");
  --second: url("images/4.png");
}

.image {
  width: 500px;
  height: 500px;
  position: relative;
  animation: myfirst 28s 1000;
  animation-direction: alternate-reverse;
  z-index: 1;
}

.word1 {
  width: 1250px;
  height: 250px;
  position: relative;
  animation: mysecond 28s 1000;
  animation-direction: alternate;
  margin-top: -10px;
  z-index: 2;
  font-size: 100px;
}

@keyframes myfirst {
  0% {
    background-image: var(--first);
    left: 600px;
    top: 200px;
    width: 500px;
    height: 500px;
  }
  25% {
    background-image: var(--first);
    left: 800px;
    top: 200px;
    width: 500px;
    height: 500px;
  }
  33.33% {
    background-image: var(--second);
    left: 1000px;
    top: 100px;
    width: 500px;
    height: 500px;
  }
  50% {
    background-image: var(--second);
    left: 1000px;
    top: 100px;
    width: 500px;
    height: 500px;
  }
  58.33% {
    background-image: var(--first);
    left: 600px;
    top: 300px;
    width: 500px;
    height: 500px;
  }
  75% {
    background-image: var(--first);
    left: 600px;
    top: 300px;
    width: 500px;
    height: 500px;
  }
  83.33% {
    background-image: url("images/tile.png");
    left: 0px;
    top: 300px;
    width: 3592px;
    height: 144px;
  }
  100% {
    background-image: url("images/tile.png");
    left: 0px;
    top: 300px;
    width: 3592px;
    height: 144px;
  }
}

@keyframes mysecond {
  0% {
    left: 0px;
    top: 0px;
    font-size: 0px;
  }
  8.33% {
    left: 0px;
    top: 0px;
    font-size: 0px;
  }
  25% {
    left: 100px;
    top: 0px;
    font-size: 250px;
  }
  33.33% {
    left: 100px;
    top: 0px;
    font-size: 250px;
  }
  50% {
    left: 500px;
    top: -200px;
    font-size: 50px;
  }
  58.33% {
    left: 500px;
    top: -200px;
    font-size: 50px;
  }
  75% {
    left: 200px;
    top: -300px;
    font-size: 300px;
  }
  100% {
    left: 200px;
    top: -300px;
    font-size: 300px;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
